extends ../layout

block content
  link(rel='stylesheet', href='https://unpkg.com/js-datepicker/datepicker.css')
  .jumbotron.d-none.d-lg-block
    .container.text-center
      h1.text-center 火车票查询系统
      p.lead.text-success.mt-3 实时查询车票信息
      p.lead.text-warning 国内车次详细信息
      p.lead.text-info 国内各省车站车次信息
      p
        a.btn.btn-primary.btn-lg(href='/spider', role='button') 爬虫控制台 &raquo;
  .container.mt-3.mb-3
    .row
      .col-12.text-center
        .btn-group(role='group')
          //- round trip ticket
          a(role='button', data-toggle='modal', data-target='#doubleTrip', href='#').btn.btn-lg.btn-outline-info 往返票
          //- Modal content begin
          .modal.fade#doubleTrip(tabindex='-1', role='dialog', aria-labelledby='doubleTripTitle', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                //- modal header
                .modal-header
                  h3.display-6#doubleTripTitle 往返票查询
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                //- modal body
                .modal-body
                  .container-fluid
                    form(action='/query', method='post')
                      .form-row
                        .form-group.col-md-6
                          label(for='fromStation') 出发站
                          input(type='text', name='fromStation', placeholder='起点城市/车站名', required).form-control#fromStation
                        .form-group.col-md-6
                          label(for='toStation') 目的站
                          input(type='text',name='toStation', placeholder='终点城市/车站名', required).form-control#toStation
                        .form-group.col-md-6
                          label(for='date') 出发日期
                          input(type='text', name='date', placeholder='2017-12-26', required).form-control#date
                        .form-group.col-md-6
                          label(for='backDate') 返程日期
                          input(type='text', name='backDate', placeholder='2017-12-29', required).form-control#backDate
                        .form-group.col-md-6
                          .btn-group(data-toggle='buttons').mt-1
                            label.btn.btn-outline-info.active
                              input(type='radio', name='ticketType', autocomplete='off', value='ADULT', checked)#adult
                              | 普通票
                            label.btn.btn-outline-info.mr-1
                              input(type='radio', name='ticketType', autocomplete='off', value='STU')#student
                              | 学生票
                        .form-group.col-md-6
                          .btn-group(data-toggle='buttons').mt-1
                            // label.btn.btn-outline-info.active
                            //   input(type='radio',name='trainType', autocomplete='off', value='all', checked)
                            //   | 全部车次
                            // label.btn.btn-outline-info
                            //   input(type='radio',name='trainType', value='tgdc', autocomplete='off')
                            //   | T/G/D
                            // label.btn.btn-outline-info
                            //   input(type='radio',name='trainType', value='others', autocomplete='off')
                            //   | 其他
                        .form-group.col-12.text-center
                          button(type='submit').btn.btn-lg.btn-outline-success.btn-block 查询
                //- modal footer
                .modal-footer
                  button.btn.btn-outline-danger(type='button', data-dismiss='modal') 取消
          a(role='button', href='#').btn.btn-lg.btn-outline-info.active 单程票
    //- query single trip ticket form
    .row.mt-3
      .col-12
        .card
          h3.card-header.text-center 单程票查询
          .card-body
            .container-fluid
              form(action='/query', method='post')
                .form-row
                  .form-group.col-md-6
                    label(for='fromStation') 出发站
                    input(type='text',name='fromStation', placeholder='请输入起点城市/车站名', required).form-control#fromStation
                  .form-group.col-md-6
                    label(for='toStation') 目的站
                    input(type='text',name='toStation', placeholder='请输入终点城市/车站名', required).form-control#toStation
                  .form-group.col-md-6
                    label(for='date') 日期
                    input(type='text', name='date', placeholder='2017-12-26', required).form-control#date
                  .form-group.col-md-6.align-self-end
                    .btn-group(data-toggle='buttons').mt-1
                      label.btn.btn-outline-info.active
                        input(type='radio', name='ticketType', autocomplete='off', value='ADULT', checked)#adult
                        | 普通票
                      label.btn.btn-outline-info.mr-1
                        input(type='radio', name='ticketType', autocomplete='off', value='STU')#student
                        | 学生票
                    .btn-group(data-toggle='buttons').mt-1
                      // label.btn.btn-outline-info.active
                      //   input(type='radio',name='trainType', autocomplete='off', value='all', checked)
                      //   | 全部车次
                      // label.btn.btn-outline-info
                      //   input(type='radio',name='trainType', value='tgdc', autocomplete='off')
                      //   | T/G/D
                      // label.btn.btn-outline-info
                      //   input(type='radio',name='trainType', value='others', autocomplete='off')
                      //   | 其他
                  .form-group.col-12.text-center
                    button(type='submit', style='cursor: pointer;').btn.btn-lg.btn-outline-success.btn-block 查询