extends ../layout

block content
  include ../includes/navbar
  
  - var trainType = 'K599'
  - var startTime = '05:14'
  
  .container.mt-3
    table.table
      thead.thead-dark.text-white.bg-dark
        tr
          th(scope='col') Type
          th(scope='col') startTime
          th(scope='col') totalTime
          th(scope='col') endTime
          th(scope='col') price
          th(scope='col') comment
      tbody
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
    table.table
      thead.thead-dark.text-white.bg-dark
        tr
          th(scope='col') Type
          th(scope='col') startTime
          th(scope='col') totalTime
          th(scope='col') endTime
          th(scope='col') price
          th(scope='col') comment
      tbody
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
        tr
          th(scope='row') K599
          td 05:20
          td 12
          td 17:20
          td $10
          td
            ul.list-unstyled
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
              li
                span.mr-3 aaaadfadadasdf
                span bbb
  
  
  
  
  
  
  
  


  
  
  
  
  
  
  
  
  include ../includes/footer